<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>뷰 기초 익히기</title>
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <style>
    .red {
      color: red;
    }
    .font-bold {
      font-weight: bold;
    }
  </style>
</head>
<body>
  <div id="app">
    <h1>state - data</h1>
    {{ nextYear('안녕하세요') }}

    <!-- v-bind -->
    <details>
      <summary style="font-size: 30px; font-weight: bold; font-style: italic;">v-bind</summary>
  
      <h3>기본 { v-bind:속성="변수" }</h3>
      <input v-bind:type="type" v-bind:value="inputValue">

      <h3>축약 { :속성="변수" }</h3>
      <input :type="type" :value="inputValue">

      <h3>함수 바인딩 { v-bind:속성="함수" }</h3>
      <a :href="getYooHyeokSchoolLink('u-it')">유혁스쿨 블로그</a>

      <h3>Object 바인딩: { v-bind="속성명" }</h3>
      <input v-bind="inputAttr"> {{this.inputValue}}
    </details>
    <!-- event -->
    <details>
      <summary style="font-size: 30px; font-weight: bold; font-style: italic;">Event</summary>
      <h3>JS 기본</h3>
      <button onclick="alert('Hello - YooHyeokSchool')">onclick</button>
      <h3>Vue 기본 & 축약형</h3>
      <button v-on:click="alert('Hello - YooHyeokSchool')">v-on:click</button>
      <button @click="alert('Hello - YooHyeokSchool')">@click</button>
      <h3>사용불가 예제 - template에서 전역 객체를 직접 참조할 수 없음.</h3>
      <button v-on:click="() => { window.alert('Hello - YooHyeokSchool'); }">window.alert</button>
      <button v-on:click="() => { console.log('Hello - YooHyeokSchool'); }">console.log</button>
      <h3>예제1</h3>
      <button v-on:click="plus()">나이 증가</button>
      <button v-on:click="minus()">나이 감소</button>
      <h3>예제2</h3>
      <form v-on:submit.prevent="submit">
        <input type="text" name="param1">
        <a :href="getYooHyeokSchoolLink('u-it')">유혁스쿨 블로그</a>
        <button type="submit">전송</button>
      </form>
    </details>
    <!-- 데이터 바인딩 단방향, 양방향(v-model) -->
    <details>
      <summary style="font-size: 30px; font-weight: bold; font-style: italic;">데이터 바인딩</summary>
      
      <h3>단방향 예제</h3>
      <input type="text" :value="onewWayBinding" v-on:keyup="updateText"> <br>
      {{ onewWayBinding }} <br>

      <h3>양방향 예제</h3>
      <input type="text" v-model="twowWayBinding"> <br>
      {{ twowWayBinding }} <br>
    </details>
    <!-- computed -->
    <details >
      <summary style="font-size: 30px; font-weight: bold; font-style: italic;">computed 속성</summary>
      
      <h3>methods로 데이터 가공</h3>
      {{ convertMsgF() }}
      
      <h3>computed로 데이터 가공</h3>
      {{ convertMsg }}
    </details>
    <!-- watch -->
    <details >
      <summary style="font-size: 30px; font-weight: bold; font-style: italic;">watch 속성</summary>
      
      <h3>watch 출력 예제</h3>
      oldVal : {{ oldVal}} <br>
      newVal : {{ newVal}}
    </details>
    <!-- class & style binding -->
    <details>
      <summary style="font-size: 30px; font-weight: bold; font-style: italic;">class style 바인딩</summary>
      
      <h1>Class 바인딩</h1>
      <h2>기본 바인딩</h2>
      <h3>Object 형태</h3>
      <div 
      :class="{ red: true,
                'font-bold': true }"
      >
        Hello
      </div>
      <h3>Array 형태</h3>
      <div 
      :class="[ 'red', 'font-bold']"
      >
        Hello
      </div>

      <h2>조건부 바인딩</h2>
      <h3>Object 형태</h3>
      <div 
        :class="{ red: isRed,
                  'font-bold': isBold }"
      >
        Hello
      </div>
      <h3>Array 형태</h3>
      <div 
        :class="[ isRed ? 'red' : '',
                  isBold ? 'font-bold': '' ]"
      >
        Hello
      </div>
      <button @click="update">Click</button>

      <h1>Style 바인딩</h1>

      <div :style="style">
        Hello
      </div>
      
      <div :style="{color: style.color, fontSize: style.fontSize}">
        Hello
      </div>
    </details>
    <!-- v-if~else-if~else / v-show -->
    <details >
      <summary style="font-size: 30px; font-weight: bold; font-style: italic;">v-if~else-if~else / v-show</summary>

      <h1>v-if~else</h1>
      <div v-if="show">YES</div>
      <div v-else>NO</div>
      
      <h1>v-if~else-if~else</h1>
      <template v-if="number === 1">
        <div>1</div>
        <div>2</div>
        <div>3</div>
      </template>
      <div v-else-if="number === 2">ELSEIF</div>
      <div v-else>ELSE</div>
      
      <h1>v-show</h1>
      <div v-show="show">YES</div>
      <div v-show="!show">NO</div>
      <button @click="increase">Increase</button>
      <button @click="toggle">Toggle</button>
    </details>
    <!-- v-for -->
    <details open>
      <summary style="font-size: 30px; font-weight: bold; font-style: italic;">v-for</summary>

      <h1>v-for</h1>
      <h3>배열 요소 기본 바인딩</h3>
      <div>
        {{people[0].name}} {{people[0].age}}
      </div>
      <div>
        {{people[1].name}} {{people[1].age}}
      </div>
      <div>
        {{people[2].name}} {{people[2].age}}
      </div>
      <h3>배열 요소 v-for 바인딩</h3>
      <h5> index 활용 </h5>
      <div v-for="(_, index) in people" :key="_.id">
        {{people[index].name}} {{people[index].age}}
      </div>
      
      <h5> object 활용 </h5>
      <div v-for="(object, index) in people" :key="object.id">
        {{object.name}} {{object.age}}
      </div>


      <h3>객체 요소 v-for 바인딩</h3>  
      <table border>
        <thead>
          <tr>
            <td v-for="(value, key, index) in people[0]" :key="index">{{key}}</td>
          </tr>
        </thead>
        <tbody v-for="(object, index) in people" :key="object.id">
          <tr>
            <td v-for="(value, key, index) in object" :key="index">{{value}}</td>
          </tr>
        </tbody>
      </table>
    </details>
  </div>
  <script>
    new Vue({
      el: '#app',
      data: {
        people: [
          { id: 1, name: 'a', age: 20 },
          { id: 2, name: 'b', age: 21 },
          { id: 3, name: 'c', age: 22 },
        ],
        number: 1,
        show: true,
        style: {
          color: 'red',
          fontSize: '30px'
        },
        isRed: false,
        isBold: false,
        newVal: '',
        oldVal: '',
        computedMsg: 'Hello',
        onewWayBinding: 'text',
        twowWayBinding: 'text',
        person: {
          name: '유혁스쿨',
          age: 33
        },
        inputValue: 'merong',
        type: 'text',
        link: 'https://',
        inputAttr: {
          type: 'radio',
          value: '메롱',
        }
        
      },
      watch: {
        computedMsg(newVal, oldVal) { // computed의 converMsg을 통해 수정함.
          this.newVal = newVal
          this.oldVal = oldVal
        }
      },
      computed: {
        convertMsg(e) {
          this.computedMsg = "헬로우"
          return this.computedMsg.split("").reverse().join('')
        },
      },
      methods: {
        increase() {
          this.number ++;
        },
        toggle() {
          this.show = !this.show;
        },
        update() {
          this.isRed = !this.isRed
          this.isBold = !this.isBold
        },
        convertMsgF() {
          return this.computedMsg.split("").reverse().join('')
        },
        updateText(e) {
          this.onewWayBinding = e.target.value
        },
        submit(e) {
          // e.preventDefault(); [이벤트 수식어] v-on.submit.prevent로 대체 가능
          const formData = new FormData(e.target);
          console.log(formData)
          const param = {};

            // FormData에서 name과 value 추출
            formData.forEach((value, key) => {
              console.log(key)
                param[key] = value; // key를 name으로, value를 value로 설정
            });

            console.log(param); // 결과 확인
        },
        plus() {
          this.person.age++;
        },
        minus() {
          this.person.age--;
        },
        alert(msg) {
          alert(msg);
        },
        getYooHyeokSchoolLink(key) {
          return this.link + key + ".tistory.com";
        },
        nextYear: function (greeting) {
          return greeting + '! ' + this.person.name + ' 은 내년에 ' + (this.person.age + 1) + '살 입니다.'
        }
      }
    })
  </script>
</body>
</html>